// ---------------------------------- Global styles and variables ---------------------------------- \\

@import "./global/variables.scss";
@import "./global/global.scss";


.ant-table-cell {
  background: var(--main-scheme-color-primary) !important;
  color: var(--main-scheme-color-text) !important;


  a {
    color: #ffffff !important;
  }
}



